<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.proyecto1">
    <uses-feature android:name="android.hardware.camera2.full" android:required="true"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NotesTheme"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">

        <provider
            android:authorities="com.example.proyecto1.provider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider"/>
        </provider>

        <activity android:name=".NotesToSelf"></activity>
        <activity android:name=".Common" />

        <service android:name=".services.UploadToDriveService" />

        <activity android:name=".LanguageActivity" />
        <activity android:name=".PreferencesActivity" />
        <activity
            android:name=".NoteEditorActivity"
            android:windowSoftInputMode="adjustResize">
            >
        </activity>
        <activity android:name=".utilities.MainToolbar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SingleNoteActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android:support.PARENT"
                android:value="com.example.proyecto1.MainActivity" />
        </activity>
        <activity
            android:name=".LogInActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoaderWelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>



</manifest>